* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
.container {
  height: 400px;
  width: 400px;
  font-size: 50px;
  background-color: aqua;
}
/* @media screen and (max-width: 900px) {
  .container {
    background-color: green;
    height: 500px;
    width: 500px;
    font-size: 40px;
  }
}
@media screen and (max-width: 600px) {
  .container {
    height: 300px;
    width: 300px;
    background-color: pink;
    font-size: 30px;
  }
} */
@media screen and (min-width: 600px) {
  .container {
    background-color: orange;
    font-size: 60px;
  }
}
@media screen and (min-width: 900px) {
  .container {
    background-color: rgb(8, 233, 53);
    font-size: 80px;
  }
}
